# Root .gitignore
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
$RECYCLE.BIN/

# Node modules di root maupun sub-folder
node_modules/
**/node_modules/

# Logs
*.log
log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ionic & Angular build output
.angular/
.ionic/
www/
dist/
out-tsc/
coverage/
**/www/
**/.angular/
**/dist/

# Environment files & Local Config
.env
*.env
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*